<form *ngIf="formEditUser" [formGroup]="formEditUser" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control " formControlName="name" id="name" [ngClass]="(name?.invalid && (name?.dirty || name?.touched)) ? 'is-invalid' : '' "  >
    <div *ngIf="name?.invalid && (name?.dirty || name?.touched) ">
      <p *ngIf="name?.errors?.required" class="text-danger">
        Truong name khong duoc de trong
      </p>
      <p *ngIf="name?.errors?.minlength" class="text-danger">
        Truong name phai tu 2 ky tu tro len
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" [ngClass]="(email?.invalid && email?.dirty) ? 'is-invalid' : ''" >
    <div *ngIf="email?.invalid && email?.dirty ">
      <p *ngIf="email?.errors?.required" class="text-danger">
        Truong email khong duoc de trong
      </p>
      <p *ngIf="email?.errors?.email" class="text-danger">
        Email khong dung dinh dang
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <textarea formControlName="address"  class="form-control" id="address" cols="30" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" formControlName="phone" class="form-control" id="phone">
  </div>
  <button type="submit" [disabled]="formEditUser.invalid" class="btn btn-primary">Submit</button>
</form>
